In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\sanedunu\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\sanedunu\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\sanedunu\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\sanedunu\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in c:\users\sanedunu\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas

In [3]:
import pandas

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pandas.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [4]:
import pandas as pd

In [5]:
print(pd.__version__)

1.4.2

# Pandas Series

In [8]:

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)
print(myvar[0])

0    1
1    7
2    2
dtype: int64
1

In [10]:
myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)
print(myvar["y"])

x    1
y    7
z    2
dtype: int64
7

In [11]:
calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [12]:

myvar = pd.Series(calories, index = ["day1", "day2"])

print(myvar)

day1    420
day2    380
dtype: int64

In [13]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

myvar = pd.DataFrame(data)

print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45

# Pandas DataFrame

In [14]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [15]:
print(df.loc[0])

calories    420
duration     50
Name: 0, dtype: int64

In [16]:
#use a list of indexes:
print(df.loc[[0, 1]])

   calories  duration
0       420        50
1       380        40

In [17]:
df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [18]:
#refer to the named index:
print(df.loc["day2"])

calories    380
duration     40
Name: day2, dtype: int64

In [ ]:
#load files into dataframe
df = pd.read_csv('data.csv')

print(df)

In [19]:

print(pd.options.display.max_rows)

60

In [ ]:
#read json file
df = pd.read_json('data.json')

print(df.to_string())

In [20]:
#dictionary to dataframe
import pandas as pd

data = {
  "Duration":{
    "0":60,
    "1":60,
    "2":60,
    "3":45,
    "4":45,
    "5":60
  },
  "Pulse":{
    "0":110,
    "1":117,
    "2":103,
    "3":109,
    "4":117,
    "5":102
  },
  "Maxpulse":{
    "0":130,
    "1":145,
    "2":135,
    "3":175,
    "4":148,
    "5":127
  },
  "Calories":{
    "0":409,
    "1":479,
    "2":340,
    "3":282,
    "4":406,
    "5":300
  }
}

df = pd.DataFrame(data)

print(df)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300

# Analysing dataframes

In [21]:
#viewing the data
#df = pd.read_csv('data.csv')

print(df.head(10))
print(df.head()) #first 5 rows will display
print(df.tail()) #last 5 rows will display
print(df.info()) #info about the data

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300
   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
   Duration  Pulse  Maxpulse  Calories
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300
<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  6 non-null      int64
 1   Pulse     6 non-null      int64
 2   Maxpulse  6 non-null      int64
 3   Calories  6 non-null      int64
dtypes: int64(4)
memory usage: 240.0+ bytes
None

# Cleaning the data

Data cleaning means fixing bad data in your data set.

Bad data could be:

Empty cells
Data in wrong format
Wrong data
Duplicates

emplty cells

In [22]:
#cleaning empty cells
#df = pd.read_csv('data.csv')

new_df = df.dropna()

print(new_df.to_string())

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300

In [23]:
#removing all rows with null values
df.dropna(inplace = True)

print(df.to_string())

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300

In [26]:
#replace empty values
df.fillna(130, inplace = True)

In [27]:
#replace only for specific columns
df["Calories"].fillna(130, inplace = True)

In [28]:
#replace using mean, median, mode
x = df["Calories"].mean()
df["Calories"].fillna(x, inplace = True)

x = df["Calories"].median()
df["Calories"].fillna(x, inplace = True)

x = df["Calories"].mode()[0]
df["Calories"].fillna(x, inplace = True)

cleaning data of wrong format

In [ ]:
#to_datetime()

df['Date'] = pd.to_datetime(df['Date'])

print(df.to_string())

In [ ]:
#Remove rows with a NULL value in the "Date" column:
df.dropna(subset=['Date'], inplace = True)

In [ ]:
fixing wrong data

In [ ]:
#replacing values
df.loc[7, 'Duration'] = 45

In [ ]:
#loop through values
for x in df.index:
  if df.loc[x, "Duration"] > 120:
    df.loc[x, "Duration"] = 120

In [ ]:
#removing rows
for x in df.index:
  if df.loc[x, "Duration"] > 120:
    df.drop(x, inplace = True)

In [ ]:
removing duplicates

In [ ]:
print(df.duplicated()) #Returns True for every row that is a duplicate, othwerwise False

In [ ]:
df.drop_duplicates(inplace = True)

# Data Correlations

In [ ]:
df.corr() #Show the relationship between the column

# Plotting

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('data.csv')

df.plot()

plt.show()

In [ ]:
#scatter plot
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('data.csv')

df.plot(kind = 'scatter', x = 'Duration', y = 'Calories')

plt.show()

In [ ]:
#histogram
df["Duration"].plot(kind = 'hist')

In [ ]:
concepts:
missing data (represented as NaN, NA, or NaT)
inserted and deleted from DataFrame 
labels and let Series, DataFrame
group by functionality to perform split-apply-combine operations on data sets, for both aggregating and transforming data
convert Python and NumPy data structures into DataFrame objects
slicing, fancy indexing, and subsetting of large data sets
Intuitive merging and joining data sets
Flexible reshaping and pivoting of data sets
Hierarchical labeling of axes
loading data from flat files (CSV and delimited), Excel files, databases, and saving/loading data from the ultrafast HDF5 format
Time series-specific functionality: date range generation and frequency conversion, moving window statistics, date shifting and lagging