# Variables

 Create a variable called break and assign it a value 5. 
See what happens and find out the reason behind the behavior that you see.

In [1]:
break = 5 # break is a inbuilt variable, we cannot assign value to it.

SyntaxError: invalid syntax (3979291220.py, line 1)

 Create two variables. One to store your birth year and another one to store current year.
Now calculate your age using these two variables

In [2]:
year = 1996
now = 2023
age=now-year
print(age)

27

Store your first, middle and last name in three different variables and then print your full name using these variables

In [6]:
first = 'Nedunuri'
middle = 'Sai'
last = 'Mounika'
print(first+ " "+middle+" " + last)

Nedunuri Sai Mounika

Answer which of these are invalid variable names: _nation 1record record1 record_one record-one record^one continue

In [ ]:
1record, record-one, record^one, continue

# Numbers

You have a football field that is 92 meter long and 48.8 meter wide. Find out total area using python and print it.

In [19]:
long= 92
wide=48.8
area= long * wide
print(area)

4489.599999999999

You bought 9 packets of potato chips from a store. Each packet costs 1.49 dollar and you gave shopkeeper 20 dollar.
Find out using python, how many dollars is the shopkeeper going to give you back?

In [21]:
chips = 9
cost = 1.49 
sum=9*1.49
given=20
back=given-sum
print(back)

6.59

You want to replace tiles in your bathroom which is exactly square and 5.5 feet is its length. 
If tiles cost 500 rs per square feet, how much will be the total cost to replace all tiles. 
Calculate and print the cost using python (Hint: Use power operator ** to find area of a square)

In [27]:
length=5.5
price=500
tiles=length**2
sum=tiles*price
print(sum)

15125.0

Print binary representation of number 17

In [28]:
num=17
print(format(num,'b'))

10001

# Strings

Create 3 variables to store street, city and country, now create address variable to store entire address. 
Use two ways of creating this variable, one using + operator and the other using f-string. 
Now Print the address in such a way that the street, city and country prints in a separate line

In [57]:
street='Busstand'
city='Peddapalli'
country ='India'
address=street+'\n'+city+'\n'+country
print(address)
address1= f'{street}\n{city}\n{country}'
print(address1)

Busstand
Peddapalli
India
Busstand
Peddapalli
India

Create a variable to store the string "Earth revolves around the sun"
Print "revolves" using slice operator
Print "sun" using negative index

In [46]:
var1="Earth revolves around the sun"
print(var1[6:14])
print(var1[-3:])

revolves
sun

Create two variables to store how many fruits and vegetables you eat in a day. 
Now Print "I eat x veggies and y fruits daily" where x and y presents vegetables and fruits that you eat everyday. 
Use python f string for this.

In [48]:
x=2
y=1
print(f"I eat {x} veggies and {y} fruits daily")

I eat 2 veggies and 1 fruits daily

I have a string variable called s='maine 200 banana khaye'. 
This of course is a wrong statement, the correct statement is 'maine 10 samosa khaye'. 
Replace incorrect words in original strong with new ones and print the new string. Also try to do this in one line.

In [59]:
w='maine 200 banana khaye'
c='maine 10 samosa khaye'
final1=w.replace('200','10')
last=final1.replace('banana','samosa')
print(last)
s='maine 200 banana khaye'
s=s.replace('banana','samosa').replace('200','10')
print("Using single line:",s)

maine 10 samosa khaye
Using single line: maine 10 samosa khaye

# Lists

Let us say your expense for every month are listed below,
January - 2200
February - 2350
March - 2600
April - 2130
May - 2190
Create a list to store these monthly expenses and using that find out,

1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this

In [60]:
#1. In Feb, how many dollars you spent extra compare to January?
exp=[2200,2350,2600,2130,2190]
feb=exp[1]-exp[0]
print(feb)

150

In [61]:
#2. Find out your total expense in first quarter (first three months) of the year.
qua=exp[0]+exp[1]+exp[2]
print(qua)

7150

In [62]:
#3. Find out if you spent exactly 2000 dollars in any month
print(2000 in exp)

False

In [65]:
#4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
exp.append(1980)
print(exp)

[2200, 2350, 2600, 2130, 2190, 1980]

In [67]:
#5. You returned an item that you bought in a month of April and got a refund of 200$. 
# Make a correction to your monthly expense list based on this
exp1=exp[3]-200
print(exp1)
exp[3]=1930
print(exp)

1930
[2200, 2350, 2600, 1930, 2190, 1980]

You have a list of your favourite marvel super heros.
heros=['spider man','thor','hulk','iron man','captain america']

Using this find out,
1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [68]:
heros=['spider man','thor','hulk','iron man','captain america']

In [72]:
#1. Length of the list
len(heros)

5

In [74]:
#2. Add 'black panther' at the end of this list
heros.append('black panther')
print(heros)

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther', 'black panther']

In [75]:
#3. You realize that you need to add 'black panther' after 'hulk',
#so remove it from the list first and then add it after 'hulk'
heros.remove('black panther')
heros[3]='black panther'
print(heros)

['spider man', 'thor', 'hulk', 'black panther', 'captain america', 'black panther']

In [77]:
#4. Now you don't like thor and hulk because they get angry easily :)
 #  So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
  # Do that with one line of code.
heros[1]='doctor strange'
print(heros

['spider man', 'doctor strange', 'hulk', 'black panther', 'captain america', 'black panther']